# deps
node_modules/

# logs
logs/
*.log

# cucumber json (in /reports)
reports/cucumber-report.json

# screenshots (root-level folder in your screenshot)
screenshots/visual/actual/
screenshots/visual/diff/
screenshots/test.png
env/*.env

playwright-report/
playwright-report/index.html
playwright-report/**

test-results/

# JUnit / other reports
reports/
reports/junit-results.xml
reports/**
